* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    color: #222;
    font-family: 'Inter', sans-serif;
}

button {
    margin: .1rem 0;
    padding: .2rem;
    background-color: #222;
    color: #eee;
    padding: .3rem .5rem;
}

button:hover {
    text-decoration: underline;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
}

button:active {
    text-decoration: underline;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .5) inset;
}

input {
    margin: .1rem 0;
}

.shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5);
}

.container {
    margin: auto;
    max-width: 1280px;
}

.centered {
    width: fit-content;
    margin: auto;
}

.header {
    background-color: #222;
    display: flex;
    color: #eee;
    width: 100%;
    padding-left: 2rem;
    align-items: center;
}

header {
    height: 7rem;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    padding: .5rem;
    height: 3rem;
    position: sticky;
    top: 0;
    align-items: center;
}

nav ul {
    width: 100%;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: .5rem;
    text-align: center;
}

nav ul li a {
    color: #ddd;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    width: 100%;
    overflow: auto;
}

main h1 {
    margin: .7rem 0;
}

main hr {
    margin: 1rem;
    border: .1rem solid black;
}

table {
    width: 100%;
}

td, th {
    border: .1rem solid #222;
    text-align: center;
    padding: .5rem 1rem;
}

main a {
    color: #222;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}


footer {
    background-color: #222;
    color: #eee;
    padding: 1rem;
    position:sticky;
    bottom: 0;
}

footer p {
    width: fit-content;
}

/* FOR DESKTOP */
@media only screen and (max-width: 768px) {

    .container {
        width: 100%;
        left: 0;
        box-shadow: none;
    }

    .header {
        padding-left: .2rem;
        padding-right: .2rem;
    }

    main {
        padding-left: .7rem;
        padding-right: .7rem;
    }

    table {
        width: 100%;
    }

    td, th {
        border: .1rem solid #222;
        text-align: center;
        padding: 0;
    }

}